.wy-table-responsive table td {
    white-space: normal !important;
}

.wy-table-responsive table td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.zammad-state-circle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    margin: -0.5em auto;
}

.border-green {
    border-color: #31af68;
}

.border-charcoal {
    border-color: #43484c;
}

.border-yellow {
    border-color: #fcac01;
}

.border-red {
    border-color: #f45801;
}

.cfloat-left, .cfloat-right {
    width: 49%;
}

.cfloat-left {
    float: left;
}

.cfloat-right {
    float: right;
}

.cfloat-clear {
    /* Can be used with containers to clear earlier floats */
    /* By this any character in the container works to do the trick */
    clear: both;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
}

@media (max-width: 600px) {
    .cfloat-left, .cfloat-right {
        width: 100% !important;
        float: none !important;
    }
}

.admonition {
    /* Ensure custom floats don't break following admonitions */
    display: inline-block;
    width:  100%;
}

.zammad-language-switcher.wy-breadcrumbs-aside {
    display: flex;
    gap: 5px;
    align-items: baseline;
    margin-left: 15px;
}
